<h1>Concerts for <%= @budget %> €</h1>

<ul>
	<% @concerts.each do |concert| %>
	<li><%= link_to (concert.band + " at " + concert.venue), concert_path(concert) %> </br>
			on <%= concert.date.to_s + " in " + concert.city%></li>

	<% end %>
</ul>