<!DOCTYPE html>
<html>
<head>
  <title>ConcertsNetwork</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
	<header style="background: grey">
		<h1>This is the best concerts network you have ever seen</h1>

	</header>

<%= yield %>

	<footer style="background: grey">
		<p>@copyright 2015</p>
	</footer>
</body>
</html>
